@model TennisSource.Models.TennisTournament

@{
    ViewData["Title"] = "Details";
}

<h1 class="border-bottom border-white text-white pb-2 border-3">Details</h1>

<div>
    <div class="card mt-2 px-0 py-4 cardgradient border-5 rounded-5 border-white text-white" style="width: 100%; max-height: 500px">
                <h1 class="ms-4 ps-2 fw-bolder text-uppercase">@Html.DisplayFor(model => model.Title)</h1>
                <ul class="nav justify-content-evenly">
                    <li class="nav-item">Item
                        <p>Type: @Html.DisplayFor(model => model.TypeId)</p>
                        <p class="fw-bold">Location: @Html.DisplayFor(model => model.Location)</p>
                        <h3>@Html.DisplayFor(model => model.Date)</h3>
                        <ul class="nav pt-1">
                            <li class="nav-item p-1">
                        <a asp-action="Edit" asp-route-id="@Model?.TennisTournamentId" class="link-light">Edit</a>
                            </li>
                            <li class="nav-item p-1"><p>|</p></li>
                            <li class="nav-item p-1">
                        <a asp-action="Delete" asp-route-id="@Model?.TennisTournamentId" class="link-light">Delete</a>
                            </li>
                            <li class="nav-item p-1"><p>|</p></li>
                            <li class="nav-item p-1"><a asp-action="Index" class="link-light">Back to List</a></li>

                        </ul>
                    </li>

                    <li class="nav-item" style="max-width: 40%;">
                        <p class="fst-italic fw-bold pb-0 mb-0" style="max-height: inherit;">@Html.DisplayFor(model => model.Description)</p>
                        
                    </li>
                    
                    <li class="nav-item text-center pb-3">
                        <h3 class="">Tournament Organizer:</h3>
                        <h2>@Html.DisplayFor(model => model.Organizer)</h2>
                    </li>
                    `
                </ul>

                

                
                 
            
        </div>
</div>

